* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* margin: 0 100px; */
    margin: 0 auto;
    max-width: 1600px;
}

.image-card {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.image-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1px solid rgb(96, 96, 210);
    border-radius: 5px;
    margin: 10px 30px;
}