<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/hienthi" method="post">
        <p>Nhập họ tên: </p>
        <p><input type="text" placeholder="..." name="txtname" id=""></p>
        <p>Nhập tuổi: </p>
        <p><input type="text" placeholder="..." name="txtage" id=""></p>
        <p>Nhập địa chỉ: </p>
        <p><input type="text" placeholder="..." name="txtaddress" id=""></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>